[submodule "lottery_songbad_angular"]
	path = lottery_songbad_angular
	url = https://github.com/ginfotech197/lottery_songbad_angular.git

[submodule "lottery_songbad_api"]
	path = lottery_songbad_api
	url = https://github.com/ginfotech197/lottery_songbad_api.git

[submodule "production_lottery_songbad"]
	path = production_lottery_songbad
	url = https://github.com/ginfotech197/production_lottery_songbad.git